.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; // WhatsApp green
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: jump 2s infinite;
  
    img {
      width: 35px;
      height: 35px;
    }
  
    &:hover {
      background-color: #20ba5a;
      transform: scale(1.1);
      transition: 0.3s ease;
    }
  }
  
  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  